 * { border: 1px solid transparent;} 
 
.hero-background {
    height: 25%;
    width: 100%;
    background-color: #1f2937;

}
.page-margin {
    margin: 0 12.5% 100px 12.5%;
}
.hero-logo {
    color: #f9faf8;
    font-size: 24px;
}
.hero-link {
    list-style-type: none;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
nav {
    display: flex;
    justify-content: space-between;
}
.header-links {
    display: flex;
    align-items: center;
    gap: 15px;
}
.not-an-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 215px;
    background-color: #e5e7eb;
}
.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 0px;
    margin-top: 0%;
    
}
.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0%;
}
.hero-cont {
    display: flex;
    justify-content: flex-start;
    
    padding-bottom: 50px;
    
}
.main-text-cont {
    padding-right: 5%;
    margin-top: 0%;
    
}
.hero-button {
    margin-top: 15px;
}
.rand-info-cont {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0%;
    padding-bottom: 100px;
    
    
}
.blue-box {
    border-radius: 10px;
    border: 2px solid #3882f2;
    height: 150px;
    width: 150px;
}
.blue-box-cont {
    display: flex;
    gap: 50px;
    list-style-type: none;
    
}
.blue-box-subtext {
    width: 150px;
} 
.random-head {
    text-align: center;
    margin-top: 75px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937
}
.quote-cont {
    
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 25%;
    padding-right: 25%;
    max-height: 25%;
    max-width: 100%;
    background-color: #e5e7eb;
}
.quote {
    margin-bottom: 0px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.quoter {
    margin-left: 75%;
    font-weight:600;
    margin-top: 0%;
    color: #1f2937;
}
.CTA-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}
.CTA {
    display: flex;
    height: 75%;
    width: 70%;
    background-color: #3882f6;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 15px;
    padding-left: 100px;
    
}
.CTA-button {
    display: flex;
    align-items: center;
    margin-left: 150px;
}
.cta-head {
    color: white;
    margin-bottom: 0%;
}
.cta-subtext {
    color: white;
    margin-top: 0%;
}
.sign-up {
    height: 25px;
    width: 90px;
    background-color: #3882f6;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    width: 100%;
    height: 75px;
}
.copyright {
    color: white;
}